<% posts_cache do -%>

<% posts do -%>
<div class="Post" style="padding-bottom: 50px;">

<div class="PostHead">
 <h1><%= link_to_post %></h1>
 <p class="PostDate">
   <strong class="day"><%= @post.created_at.day %></strong>
   <strong class="month"><%= @post.created_at.month %></strong>
 </p>
  <p class="PostInfo">Posted by: <%= post_writer %> in: <%= link_to_post_category %> </p>
</div>
  
<div class="PostContent">
<%= post_brief %>
 </div>
	<p class="read-more align-right">					
	    <%= link_to_read_more %>
	</p> 
<ul class="PostCom">
 <li><%= link_to_post(:text => "Comments(#{@post.comments.count})", :anchor => 'comments', :class => 'comments') %></li>
 <li><%= link_to_post_tags(:class => 'post_tags') %></li>
</ul>

</div>
<div class="Nav">
</div>
<% end -%>
<%= pagilinks %>
<% end -%>
