<% posts_cache do -%>

<% posts do -%>
<div class="post">
		<h2><%= link_to_post %></h2>
		<small>Posted on <%= post_time %></small>
		<div class="entry">
		    <%= post_brief %>
		</div>
		<p class="read-more align-right">					
		    <%= link_to_read_more %>
		</p>
		<p class="postmetadata">
		Posted in <%= link_to_post_category %>|<%= link_to_post(:text => "Comments(#{@post.comments.size})", :anchor => 'comments', :class => 'comments') %>
		</p>
	    </div>
<% end -%>
<%= pagilinks %>

<% end -%>
