<%= t(:filter_chain, :scope => [:txt, :view, :admin, :comments]) %>
<%= form_for :user, :url => set_filter_position_admin_comments_path do |f| %>
   <div id="filters"> 
    <div class="comment_box"><%= t(:a_comment, :scope => [:txt, :view, :admin, :comments]) %></div><div class="point_box"></div>
    <ul id="enable_filters">
	<% for f in @enable_filters -%>
	    <%= show_filter(f) %>
	<% end -%>
    </ul>
    <div class="point_box"></div>
    <div class="comment_box"><%= t(:save, :scope => [:txt, :view, :admin, :comments]) %></div>

   </div>
   <div id="disable_filters_box">
	<div class="disable_bars_title"><%= t(:available_comment_filters, :scope => [:txt, :view, :admin, :comments]) %></div>   
    <ul id="disable_filters">
	<% for f in @disable_filters -%>
	    <%= show_filter(f) %>
	<% end -%>    
    </ul>
	<br style="clear:both"/>    
   </div>
    <input class="submit" type="button" value="<%= t(:save, :scope => [:txt, :view, :admin, :comments]) %>" onclick='filter_config(this.form);this.form.submit();return false;'/>   
<% end -%>
<script type="text/javascript">
//<![CDATA[
jQuery('#disable_filters').sortable({connectWith:['#enable_filters','#disable_filters'], dropOnEmpty:true, format:/^bar_(.*)$/})
//]]>
</script>
    <script type="text/javascript">
//<![CDATA[
jQuery('#enable_filters').sortable({connectWith:['#enable_filters','#disable_filters'], dropOnEmpty:true, format:/^bar_(.*)$/})
//]]>
</script>
