<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%= header %>

<body id="<%= @theme %>">

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->
         <div id="header">
		<div class="logo">
		<h1 id="lineone"><%= site_title %></h1> 
		<h2 id="linetwo"><%= site_slogan %></h2>		 
		</div>	   
		 </div>
		 <!-- End Header -->
		 
		 <!-- Begin Navigation -->
                       <div id="navigation">
                         <ul>
			    <% navbar.each do |bar| -%>
				<li><%= link_to_nav bar %></li>
			    <% end -%>
                         </ul>
                        </div>
		 <!-- End Navigation -->
		 
		 <!-- Begin Left Column -->
		 <div id="leftcolumn">

		 <% sidebar do |t| -%>
		    <h3><%= title_of(t) %></h3>
		    <%= content_of(t) %>
		 <% end -%>
		 
		 </div>
		 <!-- End Left Column -->
		 
		 <!-- Begin Right Column -->
		 <div id="rightcolumn">

		    <%= yield %>
		       
		 </div>
		 <!-- End Right Column -->
		 
		 <!-- Begin Footer -->
		 <%= blog_tail %>
   <div id="footer">
		<p>	<%= footer %></p> 
   </div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
   
</body>
</html>

