<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<%= header %>
<body>
<div id="wrapper">
<a id='top'></a>
<div id="innerwrapper">

		<div id="header">
		

				
				<h1><%= site_title %></h1>
				
				<h2>
				    <%= site_slogan %>	
				</h2>
				
				<ul id="nav">
				    <% navbar.each do |n| -%>
					<li><%= link_to_nav n %></li>
				    <% end -%>
				
				</ul>
		
		</div>
		
		<div id="sidebar">
		
				<% sidebar do |item| -%>
				    <h3><%= title_of(item) %></h3>
				    <%= content_of(item) %>
				<% end -%>
		
		</div>
		
		
		
		<div id="contentnorightbar">
		    <%= yield %>
		</div>
	<%= blog_tail %>	
		<div id="footer">
		
								<!-- Please leave this line intact -->
								<p>Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.<br />
								<!-- you can delete below here -->

								<%= footer %></p>
		
		</div>
		
</div>
</div>


</body>
</html>
