<% @title = t(:message_0, :scope => [:txt, :view, :admin, :site]) -%>
<%= render :partial => 'admin/sub_menu_for_root' %>
<%= render_flash %>
<div class="option_wrap">
<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><%= t(:global_blog_setting, :scope => [:txt, :view, :admin, :site]) %></div>
<%= form_for :site, :url =>{:action => 'settings'} do |f| %>
    <label><%= t(:bulletin_title, :scope => [:txt, :view, :admin, :site]) %>:</label>
    <%= f.text_field 'bulletin_title', :size => '25'%>
    <label><%= t(:bulletin_content, :scope => [:txt, :view, :admin, :site]) %>:</label>
    <%= f.text_area 'bulletin_content', :style => 'width:80%;height:150px;'%>

    <br/>
    <label><%= t(:header, :scope => [:txt, :view, :admin, :site]) %>:</label>
    <%= f.text_area 'extra_header', :style => 'width:80%;height:150px;'%>

    <br/>

    <label><%= f.check_box 'force_comment_captche'%> <%= t(:force_comment_filter, :scope => [:txt, :view, :admin, :site]) %></label>
    
    
    <br/>


    <%= submit_tag t(:message_16, :scope => [:txt, :view, :admin, :site]), :class =>'submit' %>	
    
<% end %>
</div>

</div>
