<% @title = t(:message_0, :scope => [:txt, :view, :admin, :dashboard]) -%>
<div id="sub_menu">
    <ul>
    </ul>
</div>
<%= select_admin_menu("index") %>
<div class="option_wrap_index">
<div class="edit_field index">
<%= form_for :user, :url => {:action => 'dashboardbar_position'} do |f| %>
    <% @fields = ['chito_dashboard_right', 'chito_dashboard_left', 'disable'] -%> 
    <ul id='chito_dashboard_right' class="dashboard_right">
        <% bars_in :chito_dashboard_right do |bar| -%> 
            <%= show_dashboardbar(bar) %>
        <% end -%>
    </ul>

    <ul id='chito_dashboard_left' class="dashboard_left">
        <% bars_in :chito_dashboard_left do |bar| -%> 
            <%= show_dashboardbar(bar) %>
        <% end -%>    
    </ul>

</div>
    <div id="dashboardbar_settings_box">
        <div id="disable_dashboardbar_box" style="display:none;">
            <%= link_to image_tag('close.gif'), '#', :id => "d_close", :style => "float:right;padding:0px 25px 5px 5px;" %>
	    <ul id="disable" class="disable_hbars">
	        <% for bar in @disable_bars -%>
	            <%= show_dashboardbar(bar, :disable => true) %>
	        <% end -%>
	    </ul>
        </div>
        <div id="columns_setting">
           <%= link_to "Column Settings", "#", :class => "setting", :id => "d_open" %> 
            <input class="submit" type="button" value="<%= t(:save_layout, :scope => [:txt, :view, :admin, :sidebar]) %>" 
                onclick='sidebars_config(this.form, <%= @fields.inspect %>);this.form.submit();return false;'
	        style="display:none;" id="d_submit"/>

        </div>
    </div>
<% end -%>
</div>

<%= sortable_element :chito_dashboard_right,  
                     :constraint => false, :containment => @fields, :dropOnEmpty => true,  :format => "/^bar_(.*)$/"%>
<%= sortable_element :chito_dashboard_left , 
                     :constraint => false, :containment => @fields, :dropOnEmpty => true,  :format => "/^bar_(.*)$/"%>
<%= sortable_element :disable , 
                     :constraint => false, :containment => @fields, :dropOnEmpty => true,  :format => "/^bar_(.*)$/"%>

<script type="text/javascript">
//<![CDATA[
    $('#d_close').click(function(){
        $('#disable_dashboardbar_box').hide();
        $('#d_open').show();
        $('#d_submit').hide();
    });
    $('#d_open').click(function(){
        $('#disable_dashboardbar_box').show('slow');
        $('#d_open').hide();
        $('#d_submit').show();
    });

//]]>
</script>

