<% @title = t(:message_0, :scope => [:txt, :view, :admin, :dashboard]) -%>
<div id="sub_menu">
    <ul>
    </ul>
</div>
<%= select_admin_menu("index") %>
<div class="option_wrap_index">
<div class="edit_field index">
<div class="index_sidebar">
    <h2><%= t(:recent_comments, :scope => [:txt, :view, :admin, :dashboard])  %> :</h2>
    <ul>
			<% for comment in @new_comments 
			    e = h(comment.writer + ":" + strip_tags(comment.content))
			-%>
			    <li><%= (link_to truncate(e, :length => 25), post_path(comment.article, :anchor => "comment#{comment.id}", :format => :html)) if comment.article %></li>
			<% end -%>

    </ul>
    <h2><%=t(:recent_messages, :scope => [:txt, :view, :admin, :dashboard])  %> :</h2>
    <ul>
	    		<% for comment in @new_messages 
			    e = h(comment.writer + ":" + strip_tags(comment.content))
			-%>
			    <li><%= (link_to truncate(e, :length => 25), :controller => '/blog', :action => "guestbook", :anchor => "comment#{comment.id}") %></li>
			<% end -%>
    </ul>
    <h2><%=t(:statistics, :scope => [:txt, :view, :admin, :dashboard]) %> :</h2>
    <ul>
	    <li><%=t(:message_1, :scope => [:txt, :view, :admin, :dashboard], :posts_size => @posts_size ) %></li>
	    <li><%=t(:message_2, :scope => [:txt, :view, :admin, :dashboard], :drafts_size => @drafts_size)  %></li>
	    <li><%=t(:message_3, :scope => [:txt, :view, :admin, :dashboard], :comments_size => @comments_size)  %></li>
	    <li><%=t(:message_4, :scope => [:txt, :view, :admin, :dashboard], :messages_size => @messages_size)  %></li>
	    <li><%=t(:last_logined_in_at, :scope => [:txt, :view, :admin, :dashboard]) %>: <%= @user.last_logined_in_at || "---" %></li>
    </ul>
    <%= show_something :in_admin_dashboard_sidebar %>
</div>
<h1><%=t(:welcome_back,:scope => [:txt, :view, :admin, :dashboard] ) %>, <%= @user.nick %> !</h1>
    <table id="index_table">
	<tr>
	    <td><%= link_to t(:message_5, :scope => [:txt, :view, :admin, :dashboard]), new_admin_post_path, :class => :index_action %></td>
	    <td class="ainfo"><%=t(:write_new_post, :scope => [:txt, :view, :admin, :dashboard])  %></td>
	</tr>
	<tr>
	    <td><%= link_to t(:message_6, :scope => [:txt, :view, :admin, :dashboard]), admin_posts_path, :class => :index_action   %></td>
	    <td class="ainfo"><%=t(:manage_posts, :scope => [:txt, :view, :admin, :dashboard])  %></td>
	</tr>
	<tr>
	    <td><%= link_to t(:message_7, :scope => [:txt, :view, :admin, :dashboard]), {:controller => "settings", :action => 'info'}, :class => :index_action  %></td>
	    <td class="ainfo"><%=t(:change_profile, :scope => [:txt, :view, :admin, :dashboard])  %></td>
	</tr>
	<% unless @site.single_user? || @user.find_talks.empty? -%>
	<tr>
	    <td><%= link_to t(:see_talks, :scope => [:txt, :view, :admin, :dashboard]), {:controller => "talks"}, :class => :index_action  %></td>
	    <td class="ainfo"><%=t(:see_the_talks, :scope => [:txt, :view, :admin, :dashboard])  %></td>
	</tr>
	<% end -%>
    </table>
    <%= show_something :in_admin_dashboard %>
</div>
</div>

