<% @title = t(:message_0, :scope => [:txt, :view, :admin, :dashboard]) -%>
<div id="sub_menu">
    <ul>
    </ul>
</div>
<%= select_admin_menu("index") %>
<div class="option_wrap_index" style="">
<%= form_tag( {:action => 'dashboardbar_position'}, :style => "padding:0;margin:0;" ) do  %>
    <% @fields = ['chito_dashboard_right', 'chito_dashboard_left', 'disable'] -%> 


<div class="edit_field index" style="">
    <ul id='chito_dashboard_right' class="dashboard_right">
        <% bars_in :chito_dashboard_right do |bar| -%> 
            <%= show_dashboardbar(bar) %>
        <% end -%>
    </ul>

    <ul id='chito_dashboard_left' class="dashboard_left">
        <% bars_in :chito_dashboard_left do |bar| -%> 
            <%= show_dashboardbar(bar) %>
        <% end -%>    
    </ul>

    <div style="width:100%;clear:both;">
        <%= link_to t(:settings, :scope => [:txt, :view, :admin, :dashboard]), "#dashboardbar_settings_box", :id => "d_open" %> 
    </div>

</div>
    <div id="dashboardbar_settings_box" style="float:left;display:none;">
        <div id="disable_dashboardbar_box" style="">
            <!--<%= link_to image_tag('close.gif'), '#', :id => "d_close", :style => "float:right;padding:5px 10px 5px 5px;" %>-->
            <p style="margin:0;padding:0px 0px 3px 10px;"><%=  t(:available_sidebars, :scope => [:txt, :view, :admin, :sidebar]) %></p>
	    <ul id="disable" class="dashbar_disable">
	        <% for bar in @disable_bars -%>
	            <%= show_dashboardbar(bar, :disable => true) %>
	        <% end -%>
	    </ul>
        </div>
        <div id="columns_setting" style="">
            <input class="submit" type="button" value="<%= t(:save_layout, :scope => [:txt, :view, :admin, :sidebar]) %>" 
                onclick='sidebars_config(this.form, <%= @fields.inspect %>);this.form.submit();return false;'
	        style="float:right;margin:5px 20px 5px 20px;" id="d_submit"/>
            <p id="d_p"><%= t(:drag_to_setting, :scope => [:txt, :view, :admin, :dashboard]) %></p>
	    <br style="clear:both"/>

        </div>
        <% for field in @fields -%>
            <%= hidden_field_tag 'fields[]', field %>
        <% end -%>
    </div>
<% end -%>
</div>


<script type="text/javascript">
//<![CDATA[
    $('#d_close').click(function(){
        $('#dashboardbar_settings_box').fadeOut();
        $('#d_open').show();
        $('#chito_dashboard_right').removeClass('dashbar_border');
        $('#chito_dashboard_left').removeClass('dashbar_border');
        $('.remote_setting').each(function(){
            $(this).hide();
        });
    });
    $('#d_open').click(function(){
        $('#dashboardbar_settings_box').fadeIn(1000);
        $('#d_open').hide();
        $('#chito_dashboard_right').addClass('dashbar_border');
        $('#chito_dashboard_left').addClass('dashbar_border');
        $('#disable').addClass('dashbar_border');
        $('.remote_setting').each(function(){
            $(this).show();
        });

        jQuery('#chito_dashboard_right').sortable({connectWith:['#chito_dashboard_right','#chito_dashboard_left','#disable'], dropOnEmpty:true, format:/^bar_(.*)$/});
        jQuery('#chito_dashboard_left').sortable({connectWith:['#chito_dashboard_right','#chito_dashboard_left','#disable'], dropOnEmpty:true, format:/^bar_(.*)$/});
        jQuery('#disable').sortable({connectWith:['#chito_dashboard_right','#chito_dashboard_left','#disable'], dropOnEmpty:true, format:/^bar_(.*)$/});
    });
    $('.remote_setting').each(function(){
        $(this).hide();
    });

//]]>
</script>

