<div id="sub_menu">
    <ul>
		    <li><%= link_to t(:message_0, :scope => [:txt, :view, :admin, :_sub_menu_for_manage]), admin_posts_path, :id => "_posts_index" %></li>
		    <li><%= link_to t(:message_1, :scope => [:txt, :view, :admin, :_sub_menu_for_manage]), admin_pages_path, :id => "_pages_index" %></li>
		    <li><%= link_to t(:message_2, :scope => [:txt, :view, :admin, :_sub_menu_for_manage]), admin_drafts_path, :id => "_drafts_index" %></li>
            <li><%= link_to t(:trash, :scope => [:txt, :view, :admin, :_sub_menu_for_manage]),  admin_trash_index_path, :id => "_trash_index" %></li>
		    <li><%= link_to t(:message_3, :scope => [:txt, :view, :admin, :_sub_menu_for_manage]), admin_categories_path, :id => "_categories_index" %></li>		    
		    <li><%= link_to t(:message_4, :scope => [:txt, :view, :admin, :_sub_menu_for_manage]), admin_links_path, :id => "_links_index" %></li>
		    <li><%= link_to t(:message_5, :scope => [:txt, :view, :admin, :_sub_menu_for_manage]), admin_files_path, :id => "_files_index" %></li>		    
		    <li><%= link_to t(:message_6, :scope => [:txt, :view, :admin, :_sub_menu_for_manage]), {:controller => 'rss'}, :class => @rss_import_class %></li>
		    
    </ul>
</div>
<%= select_admin_menu("manage") %>
