<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><%= t("plugins.img_resize.intro") %></div>
<p><%=t("plugins.img_resize.intro_content") %></p>
</div>
<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><%=t("plugins.img_resize.settings") %></div>
<%= form_for :user, :url => {:action => 'plugin', :plugin_id => 'img_resize'} do |f|%>
    <b><%= t("plugins.img_resize.style") %></b><br/>
    <label><%= f.radio_button :img_resize_style, "open_in_new_window" %> <%=  t("plugins.img_resize.new_window") %></label>
    <label><%= f.radio_button :img_resize_style, "lightbox" %> <%= "rlightbox" %></label>
    <br/>
    <b><%= t("plugins.img_resize.width") %></b>
    <!--
    <label> <%= f.check_box :img_resize_auto_detect_width,  :class => 'checkbox' %><%= t("plugins.img_resize.auto_detect_browswe_width") %></label>
    
    <label><%= t("plugins.img_resize.or") %></label>
    -->
    <label><%= t("plugins.img_resize.bigger_than")%>
    <%= f.text_field 'img_max_width', :style => 'width:4em;text-align:right;' %> px <%= t("plugins.img_resize.resize_to") %></label>
    <%= submit_tag t("plugins.img_resize.save"), :class =>'submit' %>
<% end %>
</div>
