<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head profile="http://gmpg.org/xfn/11">
<%= header %>
<body>

<div id="header">
	<h1><%= site_title %></h1>
	<h2><%= site_slogan %></h2>
</div>

<div id="menu">
	<ul>
				    <% navbar.each do |n| -%>
					<li class="first page_item"><%= link_to_nav n %></li>
				    <% end -%>
	</ul>
</div>

<hr>

<div id="page">
    <%= yield %>
	
<div style="clear: both;">&nbsp;</div>
	<div id="sidebar">
		<ul>
		    <% bars_in :foot do |b| -%>
			<li>
				<h2><%= b.title %></h2>
				<%= content_of(b) %>
			</li>
		    <% end -%>
		</ul>
	</div>


	<div style="clear: both; height: 40px;">&nbsp;</div>
</div>
<!-- end #page -->

<hr/>
<%= blog_tail %>

<div id="footer">
	<p class="legal"><%= footer %></p>
	<p class="credit">Designed by <a href="http://www.freewpthemes.net/">Free WordPress Themes</a>.
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>

</body></html>
