<%= render :partial => 'admin/sub_menu_for_appearance' %>
<%= render_flash %>
<div class="option_wrap">
<% @title = t(:message_0, :scope => [:txt, :view, :admin, :postbar]) -%>
<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><%= t(:message_1, :scope => [:txt, :view, :admin, :postbar]) %></div>
<%= form_for :user, :url => {:action => 'postbar_position'} do |f| %>
	<label style="font-weight:bold;"><%= f.check_box :show_postbars %> <%= t(:message_2, :scope => [:txt, :view, :admin, :postbar]) %></label>
	<div class="enable_postbars_title"><%= t(:message_3, :scope => [:txt, :view, :admin, :postbar]) %></div>
	<ul id="enable" class="enable_postbars">
	  <% for postbar in @enable_postbars -%>
		<%= show_bar(postbar) %>
	  <% end -%>
	</ul>
  <br style="clear:both"/>
  <div id="disable_bar_box">
	<div class="disable_bars_title"><%= t(:message_4, :scope => [:txt, :view, :admin, :postbar]) %></div>
	<ul id="disable" class="disable_postbars">
	  <% for postbar in @disable_postbars -%>
		<%= show_bar(postbar) %>
	  <% end -%>
	</ul>
	<br style="clear:both"/>
  </div>

    <input class="submit" type="button" value="<%= t(:message_5, :scope => [:txt, :view, :admin, :postbar]) %>" 
    onclick='postbars_config(this.form);this.form.submit();return false;'/>
<% end %>
</div>
<script type="text/javascript">
//<![CDATA[
    jQuery('#disable').sortable({connectWith:['#disable','#enable'], dropOnEmpty:true, format:/^bar_(.*)$/})
//]]>
</script>
    <script type="text/javascript">
//<![CDATA[
    jQuery('#enable').sortable({connectWith:['#disable','#enable'], dropOnEmpty:true, format:/^bar_(.*)$/})
//]]>
</script>
</div>
