<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<%= header %>
<body>
<div id="Header">
<ul id="navigation">
				    <% navbar.each do |n| -%>
					<li><%= link_to_nav n %></li>
				    <% end -%>
</ul>

</div>
<div id="header2">
<div class="logo">
<%= site_title %>
</div>
<div class="banner"><span><%= site_slogan %></span></div>
</div>

<div id="Content">
<%= yield %>
</div>

<div id="Menu">
<% sidebar do |item| -%>
    <h2><%= title_of(item) %></h2>
    <%= content_of(item) %>
<% end -%>
</div>
<div class="spacer">&nbsp;</div>
<%= blog_tail %>
<div class="footer"> 
  <p><%= footer %><br />
Designed by : <a href="http://ramblingsoul.com">Rambling Soul </a></p>

</div>
</body>

</html>
