<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= header %>
<body id="<%= @theme %>">
<a id="top"></a>
<!-- Wrap -->
<div id="wrap">
		
		<!-- Header -->
		<div id="header">
					
			<h1 id="logo"><%= site_title %></h1>
			<h2 id="slogan"><%= site_slogan %></h2>			
		
			<div id="searchform">	
		
			</div>
			
		</div>
		
		<!-- menu -->
		<div id="menu">
			<ul>
				    <% navbar.each do |n| -%>
					<li id="<%= "current" if current(n) %>"><%= link_to_nav n, :text => "<span>#{n.title}</span>".html_safe %></li>
				    <% end -%>
			</ul>
		</div>	
		<!--Content Wrap -->
		<div id="content-wrap">
			
			<div id="sidebar">
			    <% sidebar do |item| -%>
				<h1><%= title_of(item) %></h1>
					<%= content_of(item) %>
			    <% end -%>
			</div>
		
			<div id="main">
			    <%= yield %>
			</div>
		
		<!--End content-wrap-->
		</div>
		<%= blog_tail %>
		<!-- Footer -->
		<div id="footer">
		
			<p>   			
			<%= footer %> 
			Design by: <a href="http://www.styleshout.com/">styleshout</a>  
		</div>	
			
<!-- END Wrap -->
</div>

</body>
</html>
