<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="all"/>
<meta name="author" content="galeki"/>
<meta name="description" content="<%= @index.main_title.to_s + " - " + @index.slogan.to_s %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%= index_rss_link %>
<%# jquery_include_tag %>
<%# jquery_ui_include_tag %>
<%= theme_css_links %>
<%= theme_js_links %>
<link href="/index_plugin.css" media="screen" rel="stylesheet" type="text/css" />
<title><%= @index.main_title.to_s + " - " + @index.slogan.to_s %></title>
</head>

<body>
<div id="header">
	<div id="topmenu">
	</div>
	<div id="logo">
        <%=raw @index.title_field %>

	</div>
</div>
<div id="menu">
</div>
<div id="content">
	<div id="main">
            <%= yield %>
	</div>
	<div id="sidebar">

                <% sidebar do |i| -%>
		    <div  class="boxed" <%= "id='login'" if i.id == :login_field %> >
                            <% unless i.id == :login_field -%>
			        <h2 class="title"><%= title_of(i) %></h2>
                            <% end -%>
			    <div class="content">
				<%= content_of(i) %>
			    </div>
		    </div>
		<% end %>

	</div>
</div>
<%=raw @index.tail_field %>
<div id="footer">
	<p id="legal">
	    <%=raw @site.footer %> 
	    | Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
	</p>
</div>
</body>
</html>
