<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<%= header %>
<body id="top">
<div id="<%= @theme %>">
<div id="header">
	<% navbar.reverse.each do |n| -%>
	    <div class="menu"><%= link_to_nav n %></div>
	<% end -%>
	<div class="headerlt">
	<%= site_title %>
	<div id="gem_slogan"><%= site_slogan %></div>
	</div>
</div>

<div id="body">
<div id="sidebar">
	<% sidebar do |item| %>
	    <div class="sidebar"><div class="sbhead">: <%= title_of(item) %></div>
	        <%= content_of(item) %>
	    </div>
	<% end -%>
</div>
<div id="content">
<%= yield %>
</div>
<div class="spacer"></div>
</div>
<%= blog_tail %>
	<div id="footer">
		<div class="footer">Website by <a href="http://mlpdesign.xmgfree.com">MLP Design</a></div>
	<p><%= footer %></p>
	
	</div>	
<div class="spacer"></div>
</div>
</body>
</html>
