<% @title = t(:manage_links, :scope => [:txt, :view, :admin, :links]) -%>
<%= render :partial => 'admin/sub_menu_for_manage' %>
<%= render_flash %>
<div class="option_wrap">
<div class="add_cate">
    <div id='add_category'>
	<%= form_tag(admin_links_path,
                    :remote => true, :id => 'rform', :onsubmit => "return false;"
			    ) do %>
		<label for="link_title"><%= t(:name, :scope => [:txt, :view, :admin, :links]) %>:</label>
		<%= text_field 'link', 'title', :size => 10  %>
		<label for="link_url"><%= t(:url, :scope => [:txt, :view, :admin, :links]) %>:</label>
		<%= text_field 'link', 'url', :size => 20 %>
		<label for="link_info"><%= t(:info, :scope => [:txt, :view, :admin, :links]) %>:</label>
		<%= text_field 'link', 'info', :size => 20 %>
	    <%= submit_tag t(:create_link, :scope => [:txt, :view, :admin, :links]), :id => 's', :autocomplete => 'off', :disable_with => t(:saving, :scope => [:txt, :view, :admin, :links]), :id => "subm" %> 
	<% end -%>	
    </div>	
<script type="text/javascript">
//<![CDATA[

        $('#subm').click(function(){
            $.post('<%= admin_links_path %>',$('#rform').find('input').serialize());
            return false;
        });
//]]>
</script>
</div>
<div id="updater"></div>
<div id='mylinks'>
<table class="sofT" cellspacing="0">
    <tr>
	    <th class="helpHed dragger"></th>
	    <th class="helpHed"><%= t(:name_c, :scope => [:txt, :view, :admin, :links]) %></th>
	    <th class="helpHed"><%= t(:url_c, :scope => [:txt, :view, :admin, :links]) %></th>
	    <th class="helpHed"><%= t(:info_c, :scope => [:txt, :view, :admin, :links]) %></th>
	    <th class="helpHed"></th>
    </tr>
    <tbody id="all_links">
	<% for @link in @links %>
	    <%= render :partial => "link" %>
	<% end -%>	
    </tbody>
</table>

<script type="text/javascript">
//<![CDATA[
jQuery('#all_links').sortable({axis:'y', connectWith:['#all_links'], dropOnEmpty:false, handle:'.dragger', helper:'clone', items:'> tr', 
        update:function(){jQuery.ajax({data:jQuery(this).sortable('serialize',{key:'all_links[]'}), dataType:'script', type:'post', 
            url:'<%= set_position_admin_links_path %>'})}})
//]]>

</script>
</div>

</div>
<%= in_place_edit_js :link, :title %>
<%= in_place_edit_js :link, :url %>
<%= in_place_edit_js :link, :info %>
