<div id="file_list_top">

<div id="space_info">
<%=t(:used, :scope => [:txt, :view, :admin, :files]) %> <%= @precent.round(1) %>% | <%= @used_space.round(1) %>M/<%= @user.get_group.space %>M</div>
<style>#used_space{width:<%= @precent.round(1) %>%;}</style>
<div id="space_bar"><div id="used_space"></div></div>

<div id="folder_info">
<span class="file_info_type">
<% if @type == 'File'-%>
    <%=t(:file, :scope => [:txt, :view, :admin, :files])  %>
<% elsif @type == 'Image' -%>
    <%=t(:image, :scope => [:txt, :view, :admin, :files])  %>
<% elsif @type == 'Flash' -%>
    <%=t(:flash, :scope => [:txt, :view, :admin, :files]) %>
<% end -%>
</span>
<span class="file_info_folder"><%= @folder %></span>

<span id='in_pro' style='margin-left:20px;color:#06f;display:none;'><img src='/images/inprogress.gif' /></span>
</div>

</div>
<table id="file_table" class="sofT" cellspacing="0">
    <tr>
            <td class="file_pic_col">
               <%= t(:sort_by, :scope => [:txt, :view, :admin, :files]) %>
               <select id="sort_by" name="sort_by">
                    <option value="name" selected="selected"><%= t(:name, :scope => [:txt, :view, :admin, :files]) %></option>
                    <option value="ctime"><%= t(:ctime, :scope => [:txt, :view, :admin, :files]) %></option>
               </select>
                <script type="text/javascript">
                //<![CDATA[
                   $('#sort_by').change(function(){
                       $('#in_pro').show();
                       $.get('<%= list_admin_files_path(:folder => @folder, :type => params[:type], :editor => params[:editor]) %>', 
                                {'sort_by': $(this).val()}, function(data){
                                    eval(data);
                                });
                                
                        });
                        <% if @sort_by -%>
                            $('#sort_by option[value=<%= @sort_by %>]').attr('selected', 'selected');
                        <% end -%>
                        
                //]]>
                </script>
            </td>
	    <td class="file_size_col" colspan="2" style="text-align:right;">
                <iframe id="upload_iframe" src="<%= url_for :action => "create_file_iframe", :folder => @folder, :type => params[:type], :editor => params[:editor] %>" 
                frameborder="0" allowtransparency="1">
                </iframe>
            </td>
            <td class="file_action_col">
                        <%= submit_tag t(:create_dir, :scope => [:txt, :view, :admin, :files]), :id => "dir_submit"%>
                    <script type="text/javascript">
                    //<![CDATA[
                        $('#dir_submit').click(function(){
                            var dir_str = window.prompt('<%= t(:input_dir_name, :scope => [:txt, :view, :admin, :files]) %>', "");
                            if(dir_str)
                            {
                                $('#in_pro').show();
                                $.post('<%= url_for(:action => 'create_dir', :folder => params[:folder], :type => params[:type], :editor => params[:editor], :format => "js") %>',
                                        {'dir' : dir_str}, function(data){
                                        });
                            }
                            return false;
                        });
                    //]]>
                    </script>
            </td>
    </tr>
    <% unless @folder.blank? or @folder =~ /^\/$/-%>
    <tr>
	    <td class="file_pic_col"><%= link_to_files (image_tag 'up-folder.png'), :type => @type, :folder => File.dirname(@folder) %></td>
	    <td class="file_name_col"><%= link_to_files t(:up, :scope => [:txt, :view, :admin, :files]), :type => @type, :folder => File.dirname(@folder)  %></td>
	    <td class="file_size_col"></td>
	    <td class="file_action_col"></td>
    </tr>
    <% end -%>
    <% for folder in @folders -%>
    <tr class="<%= cycle "odd", "" %>">
	    <td class="file_pic_col"><%= image_tag 'folder.png' %></td>
	    <td class="file_name_col">
                <%= link_to_files folder[:name], :type => @type, :folder => File.join(@folder, folder[:name]) %>
                <div class="file_ctime_text" title="<%= t(:ctime, :scope => [:txt, :view, :admin, :files]) %>">@<%= folder[:ctime].to_s(:db_short) %></div>
            </td>
	    <td class="file_size_col"></td>
            <% if in_editor? -%>
	        <td class="file_action_col">
                </td>
            <% else -%>
	        <td class="file_action_col delete">
                    <%= link_to t(:delete, :scope => [:txt, :view, :admin, :files]), 
                                {:action => 'delete_dir', :type => @type, :folder => @folder, :name => folder[:name]} , 
                                :remote => true, :method => :delete, :onclick => "$('#in_pro').show();", 
                                :confirm => t(:delete_folder?, :scope => [:txt, :view, :admin, :files], :folder => folder[:name]), :class => "delete" %>
                </td>
            <% end -%>
    </tr>
    <% end -%>
    <% for file in @files -%>
    <tr class="<%= cycle "odd", "" %>">
	    <td class="file_pic_col">
	    <% if file[:thumbnail] -%>
		<%= image_tag file[:thumbnail], :alt => file[:name], :class => "image_entry", :title => file[:url] %>
	    <% else -%>
		<%= image_tag 'file.png', :class => "file_entry" %>
	    <% end -%>
	    </td>
	    <td class="file_name_col">
	        <%= link_to file[:name], file[:url], :target => '_blank', :title => t(:download, :scope => [:txt, :view, :admin, :files]) %>
                <div class="file_ctime_text" title="<%= t(:ctime, :scope => [:txt, :view, :admin, :files]) %>">@<%= file[:ctime].to_s(:db_short) %></div>
	    </td>
	    <td class="file_size_col">
                <%= file[:size] %>KB
            </td>
            <% if in_editor? -%>
	        <td class="file_action_col">
                    <%= link_to t(:insert, :scope => [:txt, :view, :admin, :files]), "#",
                                :onclick => "CKEDITOR.tools.callFunction(CKEditorFuncNum, '#{file[:url]}');window.close();return false;",
                                :title => t(:insert, :scope => [:txt, :view, :admin, :files]), :class => "insert"
                                %>
            </td>
            <% else -%>
	        <td class="file_action_col delete">
                    <%= link_to t(:delete, :scope => [:txt, :view, :admin, :files]), 
                            {:action => 'delete_file', :name => file[:name], :type => @type, :folder => @folder}, 
                                :remote => true, :method => :delete, :onclick => "$('#in_pro').show();", 
                                :confirm => t(:delete_file?, :scope => [:txt, :view, :admin, :files], :file => file[:name]), :class => "delete"  %>
                </td>
            <% end -%>
    </tr>
    <% end -%>	
</table>

