<% @title = t(:manage_files, :scope => [:txt, :view, :admin, :files]) -%>
<%= render :partial => 'admin/sub_menu_for_manage' %>
<%= render_stickies %>
<div class="option_wrap">
<div id="file_type">
    <ul id="file_type_list">
	<li><%= link_to_remote t(:file, :scope => [:txt, :view, :admin, :files]), :update => 'file_list', :url => list_admin_files_path(:type => "File"), :method => :get, :loading => "Element.show('in_pro')"  %></li>
	<li><%= link_to_remote t(:image, :scope => [:txt, :view, :admin, :files]), :update => 'file_list', :url => list_admin_files_path(:type => "Image"), :method => :get, :loading => "Element.show('in_pro')"  %></li>
    </ul>
</div>
<div id="file_list">
    <%= render :partial => 'list' %>
</div>
</div>

