<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%= header %>
<body id="<%= @theme %>">
<a id="top"></a>
<div id="container">

<div id="header">

<h1><%= site_title %></h1>
<div id="gem_slogan"><%= site_slogan %></div>

</div>

<div id="tabs10">
  <ul>
				    <% navbar.each do |n| -%>
					<li><%= link_to_nav n, :text =>"<span>#{n.i18n_title}</span>".html_safe %></li>
				    <% end -%>

  </ul>
</div>

<div id="container2">

<div id="content">

    <%= yield %>
</div>

<div id="sidebar">
    <% sidebar do |item| %>
	    <h2><%= title_of(item) %></h2>
	    <%= content_of(item) %>
    <% end -%>
</div>    
<%= blog_tail %>

    <div id="footer"> 
      <p> <%= footer %> | Design by super j man 
        <br />
Courtesy  <a href="http://www.openwebdesign.org" target="_blank">Open Web 
        Design</a>Thanks 
        to <a href="http://www.florida-villa.com" target="_blank">Florida Vacation Homes</a> </p>
</div>

</div>

</div>
</body>
</html>
