<% form_for :article, :url => url, :html => {:id => "article_form",:name => "article_form", :method => method, :onsubmit => 'return false', :multipart => true} do |f| -%>
<% unless @indices.empty? -%>
<div id="form_sidebar">
 <div class="form_item">
    <div class="right_c"></div>
    <div class="form_category"><%=t :indices, :scope => [:txt, :view, :admin, :share]  %></div>
    <div id="index_wrap" >
    <script type='text/javascript'>
        index_list = { 
            '0':{'url':'', 'info':''},
            <% for index in @indices -%>
                <%= %Q! '#{index.id}': {'url': '#{h(index.bind_domain)}', 'info':'#{h(index.info)}', 'theme':'#{h(index.theme)}'}, ! %>
            <% end -%>
        };
    </script>
        <%= f.collection_select(:index_id, @indices, :id, :title, {}, :onchange => "show_index_info(this)", :style => "width:80%;") %>
    <div id="index_info_wrap">
        <div id="index_img"></div>
        <div id="index_url"></div>
        <div id="index_info"></div>
    </div>
    <script type='text/javascript'>
        show_index_info(document.getElementById('article_index_id'));
    </script>
    </div>
 </div>
<% end -%>
 <div class="form_item">
    <div class="right_c"></div>
    <div class="form_category"><%=t :category, :scope => [:txt, :view, :admin, :share]  %></div>
    <div id='add_category_remote'>
	<%= text_field '_category', 'name', :onkeypress => %Q[if(event.keyCode==13) add_category_remote(this.value, '#{form_authenticity_token}');], :size => 10%>
	<input type="button" value="<%=t :add, :scope => [:txt, :view, :admin, :share]  %>" id="s" onclick="add_category_remote($('#_category_name').val(), '<%= form_authenticity_token %>');" />	
    </div>
    <div id="category_list_remote">
	<ul id="categories_checkboxes">
    <% for category in @categories -%>
	    <li><label>
		<%= radio_button_tag :category, category.id, (category.id == @selected), :class => 'checkbox' %><%= category.name %>
	    </label></li>
    <% end -%>
	</ul>
    </div>
 </div>
 <div class="form_item">
    <div class="right_c"></div>
    <div class="form_category"><%=t :option, :scope => [:txt, :view, :admin, :share]%></div>
    <label>Trackback:
    <%= text_field_tag "trackbacks", nil,  :style => "margin:5px 5px 5px 5px;" %></label>
    <label><%= check_box 'article', 'forbid_comment',  :class => 'checkbox' %> <%= t :forbid_comment, :scope => [:txt, :view, :admin, :share] %></label>
    <%= show_something :in_article_options_form %>
 </div>
</div>
 <div id='form_main' >  
    <label for="article_title"><strong><%=t :title, :scope => [:txt, :view, :admin, :share]%>:</strong></label>
    <div id="article_autosave_notifier"></div>
    <%= text_field 'article', 'title', :maxlength => 200 %>
<%= article_edit_field %>

    <%= show_something :in_article_form %>
 <div id="article_brief_div">
    <label for="article_brief"><strong><%=t :brief, :scope => [:txt, :view, :admin, :share] %></strong></label>
	<label><%= check_box 'article', 'auto_brief', :onclick => 'if(this.checked){$("#article_brief").fade();}else{$("#article_brief").show()};', :class => 'checkbox', :checked => @article.auto_brief.to_tf%> <%= t :auto_brief, :scope => [:txt, :view, :admin, :share] %></label>
	<%= text_area 'article', 'brief', :style => ('display:none;' if @article.auto_brief) %>
 </div>
    <br/>
<script type='text/javascript'>
var away_text = '<%= t(:leave_message, :scope => [:txt, :view, :admin, :share]) %>';
var autosave_ok_text = '<%= t(:autosave_ok_message, :scope => [:txt, :view, :admin, :share]) %>';
var autosaving_text = '<%= t(:autosaving_message, :scope => [:txt, :view, :admin, :share]) %>';
var autosave_fail_text = '<%= t(:autosave_fail_message, :scope => [:txt, :view, :admin, :share]) %>';

window.onbeforeunload=unload_form;
$("#trackbacks").val("");


function update_article_content()
{
    if(FCKeditorAPI)
    {
	var oEditor = FCKeditorAPI.GetInstance('article_content');
	oEditor.UpdateLinkedField();
    }
}

setInterval( update_article_content, 3000);
</script>
<%= observe_form :article_form,
		  :frequency => 250,
		  :url => admin_draft_path(@article),
		  :before => "autosaving(autosaving_text);",
		  :success => "autosave_ok(autosave_ok_text);",
		  :failure => "autosave_fail(autosave_fail_text);"
%>

<input type="button" value="<%= @submit_button_text || t(:submit_post, :scope => [:txt, :view, :admin, :share]) %>" onclick="submit_as('posts', this.form);" class="submit_post"/>
<input type="button" value="<%= t(:submit_as_page, :scope => [:txt, :view, :admin, :share]) %>" onclick="submit_as('pages', this.form);"/>
<!--
<label style="display:inline;"><%= check_box_tag "show_in_navbar" %><%= t(:show_in_navbar, :scope => [:txt, :view, :admin, :share]) %></label>
-->
<input type="button" value="<%= t :save_to_draft_box, :scope => [:txt, :view, :admin, :share]  %>" onclick="submit_as('drafts', this.form);" />
<input type="button" value="<%= t :save_and_edit, :scope => [:txt, :view, :admin, :share]%>" onclick="formSubmit=true;this.form.action += '?continue_editing=1';this.form.submit();" />
</div>
<% end -%>
