<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : The Missing Piece
Version    : 1.0
Released   : 20070828
Description: A fix-width, dark-themed, Web 2.0 design suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<%= header %>
<body id="<%= @theme %>">
<a id="top"></a>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><%= site_title %></h1>
		<p><%= site_slogan %></p>
	</div>
	<div id="search">
	</div>
	<div id="menu">
		<ul>
				    <% navbar.each do |n| -%>
					<li><%= link_to_nav n %></li>
				    <% end -%>
		</ul>
	</div>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
	    <%= yield %>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			    <% @show_categories_rss=true -%>		
		    <% sidebar do |item| -%>
			<li>
			    <h2><%= title_of(item) %></h2>
			    <ul>
				<%= content_of(item) %>
			    </ul>
			
			</li>
		    <% end -%> 
		</ul>
	</div>
	<!-- end sidebar -->
	<div id="back2top" style="clear: both;"><a href="#page">Back to Top</a></div>
</div>
<!-- end page -->
<!-- start footer -->
<%= blog_tail %>
<div id="footer">
	<p class="legal"><%= footer %> 
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a>.
	</p>
</div>
<!-- end footer -->
</body>
</html>
