<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%= header %>
<body>
    <div id="top-nav">
	<ul id="top-nav-pages">
	    			    <% navbar.each do |n| -%>
					<li class="page_item"><%= link_to_nav n %></li>
				    <% end -%>
        </ul>
    </div>
    <!-- Page -->
    <div id="page">
	<div id="header">
	    <div id="headertext">
		<h1><%= site_title %></h1>
		<div class="description"><%= site_slogan %></div>
	    </div>
	</div>

	<div id="content">
	    <%= yield %>
	</div>
        <hr/>
	<!-- footbar -->
	<div id="footbar">
	    <ul class="fb" id="foot1">
		<% bars_in :foot1 do |b| -%>
		    <li>
			<h4><%= b.title %></h4>
			<%= content_of(b) %>
		    </li>
		<% end -%>
	    </ul>
	    <ul class="fb" id="foot2">
		<% bars_in :foot2 do |b| -%>
		    <li>
			<h4><%= b.title %></h4>
			<%= content_of(b) %>
		    </li>
		<% end -%>		
	    </ul>
	</div>
	<%= blog_tail %>
    </div>
</body>
</html>
