<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head profile="http://gmpg.org/xfn/11"> 
<%= header %>
<body>
<div id="page">

  <div id="meta_head">

  </div>


  <div id="header">

	<div id="header_box">
	  <h1><%= site_title %></h1>
	  <p><%= site_slogan %></p>
	</div>
  </div>
	<ul id="nav">
	    			    <% navbar.each do |n| -%>
					<li class="page_item"><%= link_to_nav n %></li>
				    <% end -%>
	</ul>

  <div id="content">
	<%= yield %> 
  </div><!--/content -->
  
<div id="sidebar">


<% bars_in :foot do |b| -%> 
<div id="sidebar_box">
	<h2 class="sidebartitle"><%= b.title %></h2>
	<%= content_of(b) %>
</div>
<% end -%>



  

</div>
<!--/sidebar -->
<%= blog_tail %>
<div id="footer">
 <%= footer %>
 <br/>
	Designed by <a href="http://www.skdstudio.com/">SK Design Studio.</a></p> 
</div>
</div>

</body></html>
