<% posts_cache do -%>
<% posts do -%>
			<h1><%= link_to_post %></h1>
			
			<%= post_brief %> 

			<p class="post-footer align-right">					
				<%= link_to_post_category(:class => 'readmore') %>
				<%= link_to_post_tags(:class => 'post_tags') %>
				<%= link_to_post(:text => "Comments(#{@post.comments.size})", :anchor => 'comments', :class => 'comments') %>
				<span class="date"><%= post_time %></span>	
			</p>	
<% end -%>
<%= pagilinks %>
<% end -%>
