<% posts_cache do -%>

<% posts do -%>
    <div class="post">
	  <div class="post-date"><span class="post-month"><%= @post.created_at.month %></span> <span class="post-day"><%= @post.created_at.day %></span></div>
	  <div class="post-title">
	  <h2><%= link_to_post %></h2>
		<span class="post-cat"> <%= link_to_post_category %></span> 
				
		<span class="post-comments"><%= link_to_post(:text => "Comments(#{@post.comments.count})", :anchor => 'comments', :class => 'comments') %></span>
	  </div>
	  <div class="entry">
		<%= post_brief %>
		<p class="read-more align-right">					
		    <%= link_to_read_more %>
		</p>
	  </div>
	</div>
<% end -%>

<%= pagilinks %>

<% end -%>
