<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr"><head profile="http://gmpg.org/xfn/11"> 
<%= header %>
<body>

<div id="wrapper">
<div id="sitewrapper">

	<div class="blackbar">&nbsp;</div>

	<div class="header">

	<div id="navigationwrap">
		<ul id="navlist">
				    <% navbar.each do |n| -%>
					<li><%= link_to_nav n %></li>
				    <% end -%>
		</ul>
	</div>

	<div class="websitetitle">
	<h1><%= site_title %></h1>
	<h3><%= site_slogan %></h3>
	</div>

	</div>
	
	<div class="contentwrap">

		<div class="insidecontentwrap">

		<div class="leftsidewrap">
			
			<div class="sideboxwrap">
			<div class="sideboxbody">

				<% bars_in :left do |b| -%>
				    <h2><%= b.title %></h2>
				    <%= content_of(b) %>
				<% end -%>

			</div>
			<div class="sideboxfooter">
			</div>
			</div>
			
		</div>

		<div class="postwrap">
	
		
			<%= yield %>
		
		<div class="navigationbottom">
			<div class="alignleft"></div>
			<div class="alignright"></div>
		</div>

	
		</div>
		
		<div class="rightsidewrap">
			<div class="sideboxwrap">
			<div class="sideboxbody">
				<% bars_in :right do |b| -%>
				    <h2><%= b.title %></h2>
				    <%= content_of(b) %>
				<% end -%>

			</div>
			<div class="sideboxfooter">
			</div>
			</div>
		</div>

		</div>

	</div>
	<div class="footerwrap">
		

			<% bars_in :foot do |b| -%>
			    <div class="footerleft">
				<h2><%= b.title %></h2>
				<%= content_of(b) %>
			    </div>
			<% end -%>


<br style="clear:both;" />
</div>
<%= blog_tail %>
<div id="credits">
<center>
	<%= footer %>
	<br/>
		Butterfly Theme  | Design: <a href="http://www.kostenlose-pr.eu/">HRS Hersteller</a> of <a href="http://www.oekoadressen.de/suche/0/hundeschule/">mobile Hundeschule</a>. 
</center></div>

</div>
</div>
		</body></html>
