<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%= header %>
<body>
<div class="header2">
<div class="headerinside">
 <h1><%= site_title %></h1>
  <div class="TagLine"><%= site_slogan %></div>
</div>
<div class="navigation-wrapper">
<div class="navigation-right">
</div>
<div class="navigation-middle">
   <ul>
    				    <% navbar.each do |n| -%>
					<li class="page_item page-item-2"><%= link_to_nav n %></li>
				    <% end -%>
   </ul>
</div>
<div class="navigation-left">
</div>
</div>

</div>
<!-- bgcontain & bgcontainIn START -->

<div id="bgcontain">
<!-- Menu END -->


<!-- Content START -->
<div id="Content">

<!-- Side ContentWrapper START -->
<div id="ContentWrapper">

<!-- Side SC START -->
<div class="SC">

<%= yield %>
</div>
<!--  Side SC END -->

</div>

<!--  Side ContentWrapper END -->

<!-- Side Right - START -->
<div class="SR">


<!-- START Categories -->  
    <% sidebar do |b| -%>
	<div class="<%= if b.id == :categories then 'Categories' else 'General Links' end %>">
	    <h3><%= b.title %></h3>
	    <%= content_of(b) %>
	</div>
    <% end -%>


</div> 
<!-- Side Right - END -->
<div style="clear: both;">
</div>
<div style="clear: both;"></div>

</div>
<!-- Content END -->
 <%= blog_tail %>
<div class="Footer">
designed by: <a href="http://www.makequick.com/">Website Builder </a>| coded by:  <a href="http://www.webhostinggeeks.com/">Web Hosting Geeks</a> | <%= footer %> 
</div>

</div>
<!-- bgcontain & bgcontainIn END -->

</body></html>
