<%= render :partial => 'admin/sub_menu_for_index' %>
<%= render_flash %>
<div class="option_wrap">
<% @title =  t :settings, :scope => [:txt, :view, :admin, :index_settings] -%>
<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><%= t(:avatar, :scope => [:txt, :view, :admin, :index_settings]) %></div>
<%= image_tag @index.avatar_url, :size => "60x60", :class => "favicon", :alt => "" %>
<%= form_for :index, :url => save_avatar_admin_index_path(@index), :html => {:multipart => true} do |f| -%>
    <%= file_field :file, :data, :accept => 'image/png' %>
    <br/>
    <%= submit_tag t(:upload, :scope => [:txt, :view, :admin, :settings]) %>
    <br/>
<% end -%>
</div>

<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><div id="notifier"></div><%= t :settings, :scope => [:txt, :view, :admin, :index_settings] %> </div>
<%= form_for(:index, :url => change_settings_admin_index_path(@index)) do |f| %>
    <label><%= t :main_title, :scope => [:txt, :view, :admin, :index_settings] %> 
    <%= f.text_field :main_title, :size => 50 %></label>
    <label><%= t :title_field, :scope => [:txt, :view, :admin, :index_settings] %></label> 
    <%= f.text_area :title_field, :style => "width:50%;height:100px;font-size:small;" %>
    <br/>
    <label><%= t :slogan, :scope => [:txt, :view, :admin, :index_settings] %> 
    <%= f.text_field :slogan, :size => 50 %></label>
    <label><%= t :post_number, :scope => [:txt, :view, :admin, :index_settings] %> 
    <%= f.text_field :new_post_number, :size => 6 %></label>
    <label><%= t :brief_cut, :scope => [:txt, :view, :admin, :index_settings] %> <%= f.text_field :post_brief_cut, :size => 6 %></label>
    <label><%= t :tail_field, :scope => [:txt, :view, :admin, :index_settings] %></label> 
    <%= f.text_area :tail_field, :style => "width:50%;height:100px;font-size:small;" %>
    <br/>
    <%= submit_tag t(:save, :scope => [:txt, :view, :admin, :settings]), :class =>'submit' %>
<% end %>
</div>
<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><div id="notifier"></div><%= t(:theme_settings, :scope => [:txt, :view, :admin, :themes]) %> </div>
<%= form_for :index, :url => change_settings_admin_index_path(@index) do |f| %>
    <%= f.select :theme, @index_theme_list %>
    <label><%= t :plugin_css, :scope => [:txt, :view, :admin, :index_settings] %></label> 
    <%= f.text_area :plugin_css, :style => "width:80%;height:100px;font-size:small;" %>
    <br/>
    <%= submit_tag t(:save, :scope => [:txt, :view, :admin, :settings]), :class =>'submit' %>
<% end %>
</div>
<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><div id="notifier"></div><%= t(:sidebar_layout_title, :scope => [:txt, :view, :admin, :sidebar]) %> - <%= t(:theme, :scope => [:txt, :view, :admin, :sidebar]) %> [ <%= @index.theme %> ] </div>
<%= form_for :index, :url => sidebar_position_admin_index_path(@index) do |f| %>
  <%= bars_layout(@index.theme) %>
  <br style="clear:both"/>
  <% @disable_bars ||= @all_bars.reject {|b| b.show? and @fields.include?(b.field.to_s)} -%>
  <div id="disable_bar_box">
	<div class="disable_bars_title"><%= t(:available_sidebars, :scope => [:txt, :view, :admin, :sidebar]) %></div>
	<ul id="disable" class="disable_hbars">
	  <% for bar in @disable_bars -%>
	     <%= show_bar(bar, :index) %>
	  <% end -%>
	</ul>
	<br style="clear:both"/>
  </div>
  <% @fields << 'disable' -%>
  <% @overlap[:disable] = :horizontal -%>

  <% for field in @fields -%>
    <%= hidden_field_tag 'fields[]', field %>
  <% end -%>
    <input class="submit" type="button" value="<%= t(:save, :scope => [:txt, :view, :admin, :sidebar]) %>" 
    onclick='sidebars_config(this.form, <%= @fields.inspect %>);this.form.submit();return false;'
	style=""/>
<% end %>
</div>

<% for field in @fields -%>
    <%= sortable_element field, :constraint => false, :containment => @fields, :dropOnEmpty => true, :overlap => @overlap[field.to_sym], :format => "/^bar_(.*)$/"%>
<% end -%>
</div>

