<% @title = t(:manage_indices, :scope => [:txt, :view, :admin, :indices]) -%>
<%= render :partial => "admin/sub_menu_for_index" %>
<%= render_flash %>
<div class="center">
<%= form_tag "", :onsubmit => "return false;" do -%>

<% if @posts.size >0 -%>
<table id="article_table" class="sofT" cellspacing="0" style="margin-top:5px;">
    <tr>
	    <th class="helpHed checkbox" style=""><%= check_box_tag "trigger", true, false, :onclick => "checkall(this.name, this.form)" %></th>	    
	    <th class="helpHed"><%= t(:username, :scope => [:txt, :view, :admin, :users]) %></th>
	    <th class="helpHed" style="text-align:left;"><%= t :title, :scope => [:txt, :view, :admin, :posts] %></th>
	    <th class="helpHed"><%= t :create_time,:scope => [:txt, :view, :admin, :posts]  %></th>
	    <th class="helpHed"><%= t :comments, :scope => [:txt, :view, :admin, :posts] %></th>
	    <th class="helpHed">Rank</th>
	    <th class="helpHed"></th>
    </tr>
    <% for post in @posts %>
    <tr class="<%= cycle "odd", "" %>">
	    <td class="checkbox"><%= check_box_tag "ids[]", post.id, nil, :id => post.id %></td>
        <td class="user_name_col">
            <%= link_to post.user.name, root_url(:subdomain => post.user.name) %>
            <%= link_to image_tag("set.gif"), admin_users_path(:user_name => post.user.name) %>
        </td>
	    <td class="title_col"><%= link_to post_title(post), post_url(post, :subdomain => post.user.name, :format => :html), :class => "post_title_link"  %></td>
	    <td class="time_col"><%= post.created_at.to_s :db_short %></td>
	    <td class="comments_col"><%= link_to "(#{post.comments.count})", post_url(post, :anchor => "comments", :subdomain => post.user.name, :format => :html), :class => "post_comments", :target => '_blank' %></td>
	    <td class="category_col">
                <%= link_to "-", decrease_rank_admin_article_path(post), :remote => true, :method => :post, :class => "button_to_link",
                    :onclick => "show_spin('post#{post.id}_rank');" %>
                    <span id="<%= "post#{post.id}_rank" %>" class="post_rank"><%= post.rank %></span>
                <%= link_to "+", increase_rank_admin_article_path(post), :remote => true, :method => :post, :class => "button_to_link",
                    :onclick => "show_spin('post#{post.id}_rank');" %>
            </td>
	    <td class="action_col">
		<%= link_to t(:view, :scope => [:txt, :view, :admin, :posts]), post_url(post, :subdomain => post.user.name, :format => :html), :class => "read", :target => '_blank' %></td>
	    
    </tr>
    <% end -%>	
</table>
<% end -%>
<div id="pagilinks">
<%= will_paginate @posts, :previous_label => t("txt.prev_page"), :next_label => t("txt.next_page") %>
</div>
<% end -%>
</div>
