<% posts_cache do -%>

<% posts do -%>
<div style="border-bottom:1px solid #ccc;margin-bottom:20px;">
	<div class="article_head">
	<div class="arrow"></div>
	<h5><%= post_time %></h5>
	<h2><%= link_to_post %></h2>
	<h4><%= link_to_post_category %></h4>
	</div>
	<div class="article_body">
	<%= post_brief %>
	</div>
	<p class="article_comments">
	    <%= link_to_post(:text => "Comments(#{@post.comments.count})", :anchor => 'comments', :class => 'comments') %>
	</p>
	<p class="article_comments">
	    <strong>Tags: </strong><%= link_to_post_tags(:class => 'post_tags') %>	    
	</p>
</div>
<% end -%>
<%= pagilinks %>
<% end -%>
