<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<%= header %>
<body>
<div id="page">


<div id="header">
	<div id="headerimg">
		<h1><%= site_title %></h1>
		<div class="description"><%= site_slogan %></div>
	</div>
</div>

	<div id="content" class="narrowcolumn">
	    <%= yield %>
	</div>

	<div id="sidebar">

	    		<% sidebar do |item| -%>
			    <h2 class="widgettitle"><%= title_of(item) %></h2>
					    <%= content_of(item) %>
				<br />
			<% end -%>

	</div>


<%= blog_tail %>
<div id="footer">
	<p>
	    <%= footer %> | style with <a href="http://binarybonsai.com/kubrick/">Kubrick</a>
	</p>
</div>
</div>
</body></html>
