<% @title = t(:theme_settings, :scope => [:txt, :view, :admin, :themes]) -%>
<%= render :partial => 'admin/sub_menu_for_appearance' %>
<div class="option_wrap" style="width:100%;margin:0;">
	<table id="theme_table">
	 <tr class="theme">
		    <td id="theme_list">
		     <div id="theme_demo">
			<% no_theme = 0 -%>
			<% for theme in @theme_list -%>
			    <% is_user_theme = (no_theme < @user_theme_count) -%>
			    <div class="theme_warp<%= " user_theme_warp" if is_user_theme %>">
				<div><%= image_tag theme_path(:theme => theme, :type => nil, :file => "screenshot.png", :user_theme => is_user_theme) %></div>
				<div class="theme_info"><strong><%= theme.camelize%></strong></div>
				<div class="theme_form">
					<%= form_tag({:action => 'change_theme', :theme => theme, :user_theme => is_user_theme.to_i},
                                                            :remote => true) do%>
					    <%= submit_tag t(:use, :scope => [:txt, :view, :admin, :themes]) %>
					<% end %>
				</div>
			    </div>
			    <% no_theme += 1 -%>
			<% end -%>
		     </div>
		    </td>
		    <td id="theme_iframe" valign="top">
		      <div id="theme_iframe_content">
			<iframe src="<%= root_url %>" id="theme_preview" width="100%" height="480px" frameborder="0" style="background:#fff"></iframe>
		      </div>
		    </td>
	 </tr>
	</table>
</div>
