<% @title = t(:manage_trackbacks, :scope => [:txt, :view, :admin, :trackbacks]) -%>
<%= render :partial => "admin/sub_menu_for_feedbacks" %>
<%= render_flash %>
<div class="center">
<% if @trackbacks.size >0 -%>
<table id="article_actions" cellspacing="0" style="width:100%;">
    <tr>
	    <td class="category_filter">
		<%= form_tag(admin_trackbacks_path, :method => :get) do %>
		    <%=t(:search_for, :scope => [:txt, :view, :admin, :trackbacks])  %>:
		    <%= text_field_tag(:keyword, params[:keyword], :size => 25) %>
		    <%= submit_tag t(:search, :scope => [:txt, :view, :admin, :trackbacks]), :id => 's' %> 
		<% end -%>	
	    </td>
<%= form_tag "", :method => :delete, :onsubmit => "return false;" do -%>

    </tr>
</table>
<% if params[:keyword] and !params[:keyword].blank?-%>
<div class="search_conditions">
<%=t(:trackbacks_contain, :scope => [:txt, :view, :admin, :trackbacks], :keyword => params[:keyword])%>:
</div>
<% end -%>
<table id="trackbacks_table" class="sofT" cellspacing="0" style="margin-top:5px;">
    <tr>
	    <th class="helpHed checkbox" style=""><%= check_box_tag "trigger", true, false, :onclick => "checkall(this.name, this.form)" %></th>    
	    <th class="helpHed"><%=t(:writer, :scope => [:txt, :view, :admin, :trackbacks])  %></th>
	    <th class="helpHed"><%=t(:time, :scope => [:txt, :view, :admin, :trackbacks])  %></th>
	    <th class="helpHed"><%=t(:brief, :scope => [:txt, :view, :admin, :trackbacks]) %></th>
	    <th class="helpHed"><%=t(:view, :scope => [:txt, :view, :admin, :trackbacks])  %></th>
	    <th class="helpHed"></th>
    </tr>
    <% for trackback in @trackbacks	-%>
    <tr class="<%= cycle "odd", "" %>">
	    <td class="checkbox"><%= check_box_tag "ids[]", trackback.id, nil, :id => trackback.id %></td>        
	    <td class="comment_writer_col"><%=h trackback.writer %></td>
	    <td class="comment_time_col"><%= trackback.created_at.to_s :db_short %></td>
	    <td class="comment_content_col"><%=h strip_tags(trackback.content) %></td>
	    <td class="comment_guest_col"><%= (link_to (image_tag "post.gif", :title => t(:view, :scope => [:txt, :view, :admin, :trackbacks])), 
					    post_path(trackback.article, :anchor => "trackback#{trackback.id}", :format => :html)) if trackback.article %></td>
	    <td class="action_col delete"><%= link_to t(:delete, :scope => [:txt, :view, :admin, :trackbacks]), admin_trackback_path(trackback, _params), :class => "destory",
		:confirm => t(:delete_trackback?, :scope => [:txt, :view, :admin, :trackbacks]), :method => :delete %></td>
	    
    </tr>
    <% end -%>	
</table>
	    <div class="delete_selected">
		<%= selected_button :text => t(:delete_selected, :scope => [:txt, :view, :admin, :trackbacks]), :url => destroy_selected_admin_trackbacks_path(_params), :confirm => t(:delete_selected?, :scope => [:txt, :view, :admin, :trackbacks]), :class => "selected_submit" %>
	    </div>
    <% end -%>
<div id="pagilinks">
<%= will_paginate @trackbacks, :previous_label => t("txt.prev_page"), :next_label => t("txt.next_page") %>
</div>
<% else -%>
<div style="margin-top:40px;">
   <%=t(:no_match, :scope => [:txt, :view, :admin, :trackbacks]) %> 
</div>
<% end -%>
</div>

