<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="zh">
<%= header %>
<body id="<%= @theme %>">
<a id="top"></a>	
<div id="wrap">

		<div id="header">
		
			<h1 id="logo-text"><%= site_title %></h1>			
			<div id="gem_slogan"><%= site_slogan %></div>
			<div id="header-tabs">
				<ul>
				    <% navbar.each do |n| -%>
					<li id="<%= "current" if current(n) %>"><%= link_to_nav n, :text =>"<span>#{n.title}</span>".html_safe %></li>
				    <% end -%>
				</ul>
			</div>				
			
		</div>
	  
	  <!-- content-wrap starts here -->
	  <div id="content-wrap">
	  
	  		<div id="main"> 
				<%= yield %>								
	  		</div> 	
			  
	  		<div id="sidebar">
			    <% sidebar do |item| -%>
				<h1><%= title_of(item) %></h1>
				<%= content_of(item) %>
			    <% end -%>
			</div>	
		
		<!-- content-wrap ends here -->
		</div>
<%= blog_tail %>

		<div id="footer">
		
			<span id="footer-left">
				&copy; 2006 <a href="http://www.linuxgem.org">LinuxGem</a> | 
				Design by: <strong>styleshout</strong> | 
<%= footer %>	
				
			</span>		
			
			<span id="footer-right">
			</span>
			
		</div>	

<!-- wrap ends here -->		
</div>	
</body>
</html>
