<% @title = t(:comment_settings, :scope => [:txt, :view, :admin, :comments]) -%>
<%= render :partial => "admin/sub_menu_for_setting" %>
<%= render_flash %>
<div class="option_wrap">
<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><div id="notifier"></div><%= t(:comment_system_settings, :scope => [:txt, :view, :admin, :comments]) %></div>

<%= form_for :user, :url => admin_set_comment_system_path do |f| %>

    <label style="font-weight:bold;font-size:120%;"><%= f.radio_button :comment_system, 'chito', :class => 'ck' %> <%= "Chito default" %></label>
    <label style="font-weight:bold;font-size:120%;"><%= f.radio_button :comment_system, 'disqus',  :class => 'ck' %> <%= "Disqus" %></label>

    <div id="comment_system_settings" style="padding:25px 0px 20px 12px;border-top:1px dashed #666;margin-top:30px;">
    </div>

<input class="submit" type="button" value="<%= t(:save, :scope => [:txt, :view, :admin, :comments]) %>" onclick='filter_config(this.form);this.form.submit();return false;'/>   

<% end -%>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
function show_settings_area()
{
    show_spin('comment_system_settings');
    if($(this).val())
        $.get("<%= admin_comment_setting_area_path(:format => :js) %>" + "?system=" + $(this).val());
    else
        $.get("<%= admin_comment_setting_area_path(:format => :js) %>" );
}
$('.ck').change(show_settings_area);

$(document).ready(show_settings_area);
//]]>
</script>
