<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<%= header %>
<body id="<%= @theme %>">
<a id='top'></a>
<div id="header">
	<ul id="menu">
				    <% navbar.each do |n| -%>
					<li><%= link_to_nav n %></li>
				    <% end -%>
	</ul>
</div>
<div id="content">
	<div id="colOne">
		<div id="logo">
			<h1><%= site_title %></h1>
			<h2><%= site_slogan %></h2>
		</div>
		<% sidebar do |item| -%>
		<div class="box">
			<h3><%= title_of(item) %></h3>
				<%= content_of(item) %>
		</div>
		<% end -%>
	</div>
	<div id="colTwo">
	    <%= yield %>	
	</div>
</div>
<%= blog_tail %>
<div id="footer">
	<p><%= footer %> All rights reserved. Design by <a href="http://freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
</body>
</html>
