<% @title = t(:systeminfo, :scope => [:txt, :view, :admin, :systeminfo]) -%>
<%= render :partial => 'admin/sub_menu_for_root' %>
<%= render_flash %>
<div class="center" id="infos">
<table id="chito_version_table" class="sofT" cellspacing="0" style="margin-top:5px;">
    <tr>
	    <th class="helpHed"><b><%= "Chito Info" %></b></th>
	    <th class="helpHed" style="width:80%;"></th>
    </tr>
        <tr class="<%= cycle("odd", "") %>">
            <td ><%= "Version" %></td>
	    <td ><pre><%= Chito::VERSION::STRING %></pre></td>
        </tr>
        <tr class="<%= cycle("odd", "") %>">
            <td ><%= "Languages" %></td>
	    <td ><pre><%= Chito::LANGUAGES.map{|l| l[0]} * "\n" %></pre></td>
        </tr>
        <tr class="<%= cycle("odd", "") %>">
            <td ><%= "Uptime" %></td>
	    <td ><pre><%= time_ago_in_words(Chito::STARTTIME) %></pre></td>
        </tr>
</table>
<table id="systeminfo_table" class="sofT" cellspacing="0" style="margin-top:5px;">
    <tr>
	    <th class="helpHed"><b><%= "System Info" %></b></th>
	    <th class="helpHed" style="width:80%;"></th>
    </tr>
    <% @system_info.each do |t| -%>
        <tr class="<%= cycle("odd", "") %>">
            <td ><%= t.keys.first %></td>
	    <td ><pre><%= t.values.first %></pre></td>

        </tr>
    <% end -%>
</table>

<table id="ralsinfo_table" class="sofT" cellspacing="0" style="margin-top:35px;">
    <tr>
	    <th class="helpHed"><b><%= "Rails Info" %></b></th>
	    <th class="helpHed" style="width:80%;"></th>
    </tr>
    <% @rails_info.each do |t| -%>
        <tr class="<%= cycle("odd", "") %>">
            <td ><%= t.keys.first %></td>
	    <td ><pre><%= t.values.first %></pre></td>

        </tr>
    <% end -%>
</table>

<table id="env_table" class="sofT" cellspacing="0" style="margin-top:35px;">
    <tr>
	    <th class="helpHed"><b><%= "Enviroment" %></b></th>
	    <th class="helpHed" style="width:80%;"></th>
    </tr>
    <% ENV.each do |k, v| -%>
        <tr class="<%= cycle("odd", "") %>" >
            <td style="padding:12px;"><%= k %></td>
	    <td style="padding:12px;word-break: break-all;"><%= v %></td>

        </tr>
    <% end -%>
</table>



</div>

