
<div class="posttotal">
<div class="datecomrap">
         <div class="date">
         <%= @post.created_at.month %><br />
         <span style="font-size:2em; font-weight:bold;"><%= @post.created_at.day %></span><br />
         <%= @post.created_at.year %>         </div><!-- end date -->


         <!-- if you don't want the comment count left of the post, erase from here ... -->
         <div class="commy">
         <%= link_to_post(:text => "#{@post.comments.count}", :anchor => 'comments', :title => "Comments") %>    
		 </div><!-- end commy -->
         <!-- to here -->


</div><!-- end datecomrap -->


<div class="storycornerwrap">
<div class="storycornerleft">
</div><!-- end storycornerleft -->
<div class="storycornercontent">
</div><!-- end storycornercontent -->
<div class="storycornerright">
</div><!-- end storycornerright -->
</div><!-- end storycornerwrap -->


     <div class="storywrap">


         <h3 class="storytitle"><%= link_to_post %></h3>

	    <div id="article_header">
		<% if_my_post do %>
			    <%= link_to t(:message_0, :scope => [:txt, :view, :posts, :show]), edit_admin_post_path(@post), :class => "edit" %>
			    <%= link_to t(:message_1, :scope => [:txt, :view, :posts, :show]), admin_posts_path, :class => "return" %>
		 <% end %>
	 </div>


        <div class="storycontent">
                <%= post_content %>
	</div><!-- end storycontent -->

        <div class="meta">

	    Category: <%= link_to_post_category %> | Tags: <%= link_to_post_tags %> | Read Count: <%= post_read_count %>

        </div><!-- end meta -->



  <div id="comments_wrap">
      <%= post_comments %>
  </div>
  <div class="page_clear"></div>
     </div><!-- end storywrap -->
	 


<div class="storycornerwrapbottom">
<div class="storycornerleftbottom">
</div><!-- end storycornerleftbottom -->
<div class="storycornercontentbottom">
</div><!-- end storycornercontentbottom -->
<div class="storycornerrightbottom">
</div><!-- end storycornerrightbottom -->
</div><!-- end storyornerwrap -->

</div><!-- end posttotal -->
<%= thread_comment_script_tag %>
