<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<%= header %>
<body>
	
	<!-- header starts here -->
	<div id="header-wrap"><div id="header-content">	
		
		<h1 id="logo"><%= site_title %></h1>	
		<h2 id="slogan"><%= site_slogan %></h2>		
		
		<div id="header-links">
		</div>
		<ul>
				    <% navbar.each do |n| -%>
					<li><%= link_to_nav n, :selected_id => "current" %></li>
				    <% end -%>
		</ul>					
	
	</div></div>
				
	<!-- content-wrap starts here -->
	<div id="content-wrap"><div id="content">	 
	
	<div id="main">		
	<%= yield %>									
		</div>		
	
		
		<div id="sidebar">	
				<% sidebar do |item| -%>
				    <h1><%= title_of(item) %></h1>
				    <%= content_of(item) %>
				    <br/>
				<% end -%>
								
		</div>			
	
	<!-- content-wrap ends here -->		
	</div></div>
<%= blog_tail %>
	<!-- footer starts here -->	
	<div id="footer-wrap"><div id="footer-content">
	

		
	
			<p>
			<%= footer %> | 
			Design by: <a href="http://www.styleshout.com">styleshout</a> &nbsp; &nbsp;
			</p>
		
		<br class="clear" />
	
	</div></div>
	<!-- footer ends here -->

</body>
</html>
