
<div id="article_wrap">
  <div class="pre_next_post">
	<div><%= link_to_previous_post %></div> 
        <div><%= link_to_next_post %></div>
  </div>

  <h1><%= post_title %></h1>

  <div id="article_header">
    <strong> <%= post_writer %></strong> 
    posted @ <%= post_time %>
    <%= (' in ' + link_to_post_category ).html_safe if @post.category %>
    <% unless @post.cached_tag_list.blank? -%>
	with tags 
	<%= link_to_post_tags %>
    <% end -%>
    , <%= post_read_count %> <%= t("txt.view.posts.show.readers") %>
      <%= if_my_post do %>
	    <br/>
		<%= link_to t(:message_0, :scope => [:txt, :view, :posts, :show]), edit_admin_post_path(@post), :class => "edit" %>
		<%= link_to t(:message_1, :scope => [:txt, :view, :posts, :show]), admin_posts_path, :class => "return" %>
      <% end %>
  </div>

  
  
  <div id="article_body">
    <%= post_content %>
  </div>

  <%= postbars %>

<% chito_cache :type => :posts, :id => :feedbacks, :post => @post.id do -%>

<%= if_show_trackbacks do -%>
    <div class="articlefooter">
	<span class="trackbacks">
	    <%= image_tag "trackbacks.gif", :class => 'trackbacks' %>
	    <%= t(:trackbacks, :scope => [:txt, :view, :posts, :show]) %> (<%= @trackbacks.size %>)
	</span>
    </div>
    <div id="trackbacks">
	<ul>
		<% for trackback in @trackbacks -%>
		    <li>
			<%= link_to (trackback.writer || trackback.blog_name), trackback.homepage, :title => trackback.content, :target => "_blank", :id => "trackback#{trackback.id}" %>
			- <%= trackback.created_at.to_s(:db_short) %>
		    </li>
		<% end -%>
	</ul>
    </div>
<% end -%>

<div class="articlefooter">
    <% if @trackbacks.empty? && false-%> <!-- TODO Disable for no spam protection -->
	<span class="trackbacks_url"><%= link_to "Trackback URI", post_trackbacks_path(@post, :key => @post.trackback_key, :format => :xml) %></span>
    <% end -%>
    <span class="comments">
	<%= link_to (image_tag "small_feed.png", :class => 'feed'), post_path(@post, :format => :rss) %>
	<%= t(:comments, :scope => [:txt, :view, :posts, :show]) %> (<%= @comments.size %>)
    </span>
</div>
    <div id="comments">
        <%= comments %> 
    </div>

<% end -%>

<%= if_can_comment do %>
<br />
<div id="post_comment">
    <%= render :partial => 'comments/form', :locals => {:url => post_comments_path(@post)} %>
</div>
<%= render :partial => 'comments/trigger', :locals => {:url => post_comments_path(@post)} %>
<% end %>

</div>

