
<div id="article_wrap">
  <div class="pre_next_post">
	<div><%= link_to_previous_post %></div> 
        <div><%= link_to_next_post %></div>
  </div>

  <h1><%= post_title %></h1>

  <div id="article_header">
    <strong> <%= post_writer %></strong> 
    posted @ <%= post_time %>
    <%= (' in ' + link_to_post_category ).html_safe if @post.category %>
    <% unless @post.cached_tag_list.blank? && @post.tag_list.blank? -%>
	with tags 
	<%= link_to_post_tags %>
    <% end -%>
    , <%= post_read_count %> <%= t("txt.view.posts.show.readers") %>
      <%= if_my_post do %>
	    <br/>
		<%= link_to t(:message_0, :scope => [:txt, :view, :posts, :show]), edit_admin_post_path(@post), :class => "edit" %>
		<%= link_to t(:message_1, :scope => [:txt, :view, :posts, :show]), admin_posts_path, :class => "return" %>
      <% end %>
  </div>

  
  
  <div id="article_body">
    <%= post_content %>
  </div>

  <%= postbars %>


  <%= post_comments %>

</div>

