<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="all"/>
<meta name="author" content="<%=h @meta_author %>"/>
<meta name="description" content="<%=h @meta_description %>"/>
<meta name="keywords" content="<%=h @meta_keywords %>"/>
<link rel="shortcut icon" type="image/x-icon" href="<%= favicon_url %>" />
<%= posts_rss_link %>
<%= comments_rss_link %>
<%= messages_rss_link %>
<%= site_rss_link %>
<%= stylesheet_link_tag "common", 'admin/smoothness/jquery-ui' %>
<%= theme_css_links :order => options[:css]%>
<%= theme_js_links :order => options[:js]%>
<%= csrf_meta_tag %>
<link href="/plugin.css" media="screen" rel="stylesheet" type="text/css" />
<title><%= @title %></title>
<%= show_something :in_head %>
<%= @site.extra_header.to_s %>
</head>
<%=raw @user.custom_header if @user.enable_custom_header %>
