<% @title = t(:message_0, :scope => [:txt, :view, :blog, :add]) -%>
<%= render_flash %>
<% if @site.mutli_users? and @site.registerable? -%>
<strong><%= t(:message_1, :scope => [:txt, :view, :blog, :add]) %></strong>
<% if flash[:error] %>
<div id="flash"><span class="wrong"><%= flash[:error] %></span></div>
<% end %>
<div id="reg">
<% form_for :new_user, :url => {:controller => "blog", :action => 'add'} do |f| %>
    <label for="user_name"><div><%= t(:message_2, :scope => [:txt, :view, :blog, :add]) %></div> <%= f.text_field :name, :size => "14" %></label>
    <%= error_message_on :new_user, :name %>
    <label for="user_name"><div><%= t(:message_3, :scope => [:txt, :view, :blog, :add]) %></div> <%= f.text_field :nick, :size => "14" %></label>
    <%= error_message_on :new_user, :nick %>
    <label for="user_password"><div><%= t(:message_4, :scope => [:txt, :view, :blog, :add]) %></div> <%= f.password_field :password, :size => "14" %></label>
    <%= error_message_on :new_user, :password %>
    <label><div><%= t(:message_5, :scope => [:txt, :view, :blog, :add]) %></div> <%= f.password_field :password_confirmation, :size => "14" %></label>
    <label for="user_email"><div>E-mail</div> <%= f.text_field :email, :size => "14" %></label>
    <%= error_message_on :new_user, :email %>
    <label for="user_language"><div>Language</div> <%= f.select :language, LANGUAGES %></label>
    <br/>
    <%= show_simple_captcha :image_style => "simply_green", :label => t("txt.view.blog.add.input_captcha") %>
    <%= submit_tag  t(:message_7, :scope => [:txt, :view, :blog, :add]) , :class => 'submit' %><br/>
<% end %>
</div>
<% end -%>
