<% @title = t(:password_reset, :scope => [:txt, :view, :blog, :forgot_password]) -%>
<%= render_flash %>
<h2><%= t(:password_reset, :scope => [:txt, :view, :blog, :forgot_password]) %></h2>
<div id="forgot_password">
<%= form_for :user, :url => forgot_password_path do |f| %>
    <label for="user_email"><div><%= t(:input_email, :scope => [:txt, :view, :blog, :forgot_password]) %></div> <%= text_field_tag :email, nil, :style => "width:70%;margin:20px 0px;" %></label>
    <br/>
    <%= submit_tag  t(:confirm, :scope => [:txt, :view, :blog, :forgot_password]) , :class => 'submit' %><br/>
<% end %>
</div>
