<div id="guestbook_wrap">

<% if @user.comment_system == 'disqus' %>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '<%= @user.disqus_shortname %>'; // required: replace example with your forum shortname
    var disqus_identifier = 'chito-<%= @user.name %>-guestbook';
    //var disqus_developer = 1;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<% else -%>

<%  @title = t(:message_0, :scope => [:txt, :view, :blog, :guestbook], :user => @user.nick) %>
<h4><%= t(:message_1, :scope => [:txt, :view, :blog, :guestbook], :user => @user.nick) %></h4>
<%= javascript_include_tag "ckeditor/ckeditor" -%>
<div id="post_comment">
    <%= render :partial => 'comments/form', :locals => {:url => messages_path} %>
</div>
<%= render :partial => 'comments/trigger', :locals => {:url => messages_path} %>
<br />
<style>.comments_count{display:none;}</style>
<% chito_cache _params.merge(:id => :guestbook, :page=> params[:page] || 1) do -%>
    <div id="comments">
	<%= comments %> 
    </div>

    <div id="pagilinks">
      <%= will_paginate @comments, :previous_label => t("txt.prev_page"), :next_label => t("txt.next_page") %>
    </div>

<% end -%>

<% end -%>


</div>
<div class="page_clear"></div>
