<div id="guestbook_wrap">
<%  @title = t(:message_0, :scope => [:txt, :view, :blog, :guestbook], :user => @user.nick) %>
<h4><%= t(:message_1, :scope => [:txt, :view, :blog, :guestbook], :user => @user.nick) %></h4>
<div id="post_comment">
    <%= render :partial => 'comments/form', :locals => {:url => messages_path} %>
</div>
<br />
<%= chito_cache :id => :guestbook do -%>
    <div id="comments">
	<%= comments %> 
    </div>
<% end -%>
</div>
<%= thread_comment_script_tag %>
