<% @title = t(:password_reset, :scope => [:txt, :view, :blog, :reset_password]) -%>
<%= render_flash %>
<h2><%= t(:input_new_password, :scope => [:txt, :view, :blog, :reset_password]) %></h2>
<div id="forgot_password">
<% form_tag :action => "reset_password" do |f| %>
    <label for="user_password"><div><%= t(:message_4, :scope => [:txt, :view, :blog, :add]) %></div> <%= password_field_tag :new, nil, :size => "25", :autocomplete => "off" %></label>
    <label><div><%= t(:message_5, :scope => [:txt, :view, :blog, :add]) %></div> <%= password_field_tag :_new, nil, :size => "25", :autocomplete => "off" %></label>
    <%= hidden_field_tag :key, params[:key] %>
    <br/>
    <%= submit_tag  t(:confirm, :scope => [:txt, :view, :blog, :forgot_password]) , :class => 'submit' %><br/>
<% end %>
</div>
