<% posts_cache do -%>

<% posts do -%>
		<div class="post">
			<h2 class="title"><%= link_to_post %></h2>
			<p class="byline"><small>Posted by <%= post_writer %></small></p>
			<p class="date"><span class="month"><%= @post.created_at.month %> </span><span class="day"><%= @post.created_at.day %></span><span class="year">, <%= @post.created_at.year %></span></p>
			<div class="entry">
				<%= post_brief %>
			</div>
			<p class="links">
				&nbsp;&nbsp;&nbsp;
				Category: <%= link_to_post_category %>	
				&nbsp;&nbsp;&nbsp;
				<%= link_to_post(:text => "Comments ( #{@post.comments.size} ) ", :anchor => 'comments', :class => 'comments') %>
				&nbsp;&nbsp;&nbsp;
				Tags: <%= link_to_post_tags(:class => 'post_tags') %>
			</p>
		</div>
<% end -%>
<%= pagilinks %>

<% end -%>

