<% @title = t(:manage_groups, :scope => [:txt, :view, :admin, :groups]) -%>
<%= render :partial => 'admin/sub_menu_for_root' %>
<%= render_flash %>
<div class="option_wrap">

<div class="add_cate">
    <div id='add_category'>
	<% form_tag(        admin_groups_path,
                            :remote => true
			    ) do %>
		<label for="link_title"><%= t(:name, :scope => [:txt, :view, :admin, :groups]) %>:</label>
		<%= text_field 'group', 'name', :size => 20  %>
	    <%= submit_tag t(:create, :scope => [:txt, :view, :admin, :groups]), :id => 's', :autocomplete => 'off', :disable_with => t(:saving, :scope => [:txt, :view, :admin, :groups]) %> 
	<% end -%>	
    </div>	
</div>
<div id="updater"></div>
<div id='groups'>
<table class="sofT" cellspacing="0" style="width:60%;">
    <tr>
	    <th class="helpHed"><%= t(:name, :scope => [:txt, :view, :admin, :groups]) %></th>
	    <th class="helpHed"><%= t(:space_c, :scope => [:txt, :view, :admin, :groups]) %></th>
	    <th class="helpHed"><%= t(:file_size_limit_c, :scope => [:txt, :view, :admin, :groups]) %></th>
	    <th class="helpHed"></th>
    </tr>
    <tbody id="all_groups">
    <% for @group in @groups %>
	   <%= render :partial => "group" %> 
    <% end -%>	
    </tbody>
</table>
</div>

</div>
<%= in_place_edit_js :group, :space %>
<%= in_place_edit_js :group, :file_size_limit %>
