<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" type="image/x-icon" href="<%= favicon_url %>" />
<%= stylesheet_link_tag 'admin/main', 'admin/smoothness/jquery-ui' %>
<%= stylesheet_link_tag "admin/#{@user.admin_style || 'green'}" %>
<%= jquery_include_tag %>
<%= jquery_ui_include_tag %>
<%= javascript_include_tag "jrails", "jquery.jeditable" %>
<%= javascript_include_tag "admin", "fckeditor/fckeditor" -%>
<title><%= "#{@title} - Chito" %></title>
</head>

<body>
  <div id="main">
    <div id="links_container">
      <div id="logo"><h1><%= t(:message_0, :scope => [:txt, :view, :layouts, :admin], :user => session[:user_nick])%> </h1></div>
      <div id="links">
	<%= link_to t(:message_1, :scope => [:txt, :view, :layouts, :admin]), root_url  %> |
	<%= link_to t(:message_2, :scope => [:txt, :view, :layouts, :admin]), :controller => 'dashboard', :action => 'logout' %>
      </div>
    </div>
    <div id="menu">
      <ul>
		    <li><%= link_to t(:message_3, :scope => [:txt, :view, :layouts, :admin]), admin_path, :id => "index", :class => "" %></li>
		    <li><%= link_to t(:message_4, :scope => [:txt, :view, :layouts, :admin]), new_admin_post_path, :id => 'write' %></li>
		    <li><%= link_to t(:message_5, :scope => [:txt, :view, :layouts, :admin]), admin_posts_path, :id => 'manage' %></li>
		    <li><%= link_to t(:message_6, :scope => [:txt, :view, :layouts, :admin]), admin_comments_path, :id => 'comments' %>
			<%= if_has_notifier do
			    (image_tag "/images/comment_notice.gif", :class =>'notice', 
					:alt => t(:message_7, :scope => [:txt, :view, :layouts, :admin]), 
					:onclick => "go_to('#{@notifier_path}');") 
			    end	%>
		    </li>
		    <li><%= link_to t(:message_8, :scope => [:txt, :view, :layouts, :admin]), {:controller => 'themes'}, :id => "appearance" %></li>
		    <li><%= link_to t(:message_9, :scope => [:txt, :view, :layouts, :admin]), {:controller => 'settings', :action => 'info'}, :id => "settings" %></li>
		    <li><%= link_to t(:message_10, :scope => [:txt, :view, :layouts, :admin]), {:controller => 'plugins', :plugin_id => nil}, :id => "plugin" %></li>
                <% for index in @user.indices -%>
		    <li><%= link_to index.title, admin_index_path(index), :id => "index_#{index.id}" %></li>
                <% end -%>

		<% if @user.is_chito_admin? -%>
		    <li><%= link_to t(:message_11, :scope => [:txt, :view, :layouts, :admin]), {:controller => 'site'}, :id => "chito_admin" %></li>
		<% end -%>

      </ul>
    </div>
    <div id="content">
	<%= yield %>
    </div>
    <div id="footer">
      <%= footer %> | <a href="http://www.dcarter.co.uk">design by dcarter</a>
    </div>
  </div>
</body>
</html>
