
<% posts do -%>
<div class="atomentry">
        <div class="post_avatar" style="float:right;padding:5px;">
            <%= link_to (image_tag @post.user.small_avatar_url), root_url(:subdomain => @post.user.name) %>
        </div>
  <h2 class="title"><%= post_link @post, :subdomain => (@post.user && @post.user.name) %></h2>
  <div class="content">
            <%= @post.short_brief(@index.post_brief_cut.to_num(200)) %>
  </div>
  <div class="meta">		
    <br/>
    <p class="links">
	Comment: <%= post_link @post, :text => "(#{@post.comments.size})", :subdomain => @post.user.name, :anchor => 'comments', :class => 'comments' %>
    	Posted by: <cite><%= link_to @post.user.nick, root_url(:subdomain => @post.user.name) %></cite>
    	@<abbr class="published" title="<%= @post.created_at %>"> <%= @post.created_at.to_s(:db_short) %></abbr>
    </p>
    <br style="clear:both;" />
  </div>
</div>
<% end -%>
<div id="pagilinks">
    <%= will_paginate @posts, :previous_label => t("txt.prev_page"), :next_label => t("txt.next_page") %>
</div>

